# ignore all files and directories non-recursively
/*
# except gitgnore
!.gitignore

!.dotfiles
!.zshrc

# not the config dir itself
!.config/
# but all file and directories in it
/.config/*
!.config/termite
!.config/environment.d