[Unit]
Description=BSPWM at display %i
BindsTo=xorg@%i.service
Requires=dbus.service 
Wants=sxhkd@%i.service
After=xorg@%i.service

[Service]
Environment=DISPLAY=:%i
ExecStart=/usr/bin/bspwm
Type=simple
GuessMainPID=yes
Restart=always
RestartSec=10


[Install]
Alias=default.target
